# analytics
NEXT_PUBLIC_GA_ID=

# mixtape
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# newsletter
MAILCHIMP_LIST_ID=
MAILCHIMP_API_KEY=

# notion
NOTION_ACCESS_TOKEN=
NOTION_BLOG_DATABASE_ID=
NOTION_MIXTAPE_DATABASE_ID=
NOTION_HANDBOOK_PAGE_ID=

NEXT_PUBLIC_NOTION_ACCESS_TOKEN=$NOTION_ACCESS_TOKEN
NEXT_PUBLIC_NOTION_BLOG_DATABASE_ID=$NOTION_BLOG_DATABASE_ID
NEXT_PUBLIC_NOTION_MIXTAPE_DATABASE_ID=$NOTION_MIXTAPE_DATABASE_ID
NEXT_PUBLIC_NOTION_HANDBOOK_PAGE_ID=$NOTION_HANDBOOK_PAGE_ID

# weather
NEXT_PUBLIC_OPENWEATHER_API_KEY=